html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line height: 1.5;
  background-color: #c9b5ab
  font-family: "Pt Serif"
}

h1, h2 {
  font-family: "Pt San", sans-serif;
  color: #3f1622;
}

h1 {
  font-size: 1,5rem;
}

nav ol {
  font-size: 0.8rem
  list-style-type: none;
  font-family: "Pt Serif", sans-serif;
}

ol {
  display:block;
}

li {
  display: block;
}

a {
  color: #8f2440;
  font-size: 0.125rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

header {
  display: block;
  margin-bottom: 1.2rem;
}
img {
  width: 100%;
}

figcaption {
  text-align: center;
  display: block;
  font-style: italic;
}

div {
  display:block;
}

main figure + p {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style:italic
}

strong {
  font-weight: normal;
}

.common {
  list-style-type: circle;
